<template>
    <div class="alert alert-danger" if.bind="error.description">
        <strong>${error.title}</strong> ${error.description}
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
        <tr repeat.for="user of users">
            <td>${user.id}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>${user.email}</td>
            <td>${user.role.name}</td>
            <td>${user.state.name}</td>
        </tr>
    </table>
</template>