<template>
    <div class="alert alert-danger" if.bind="error.description">
        <strong>${error.title}</strong> ${error.description}
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre unico</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Alto</th>
            <th>Ancho</th>
            <th>Imagen (nombre unico)</th>
            <th>Precio</th>
        </tr>
        <tr repeat.for="frame of frames">
            <td>${frame.id}</td>
            <td>${frame.uniqueName}</td>
            <td>${frame.name}</td>
            <td>${frame.description}</td>
            <td>${frame.height}</td>
            <td>${frame.length}</td>
            <td>${frame.picture.imageKey}</td>
            <td>${frame.price}</td>
        </tr>
    </table>
</template>