<template>
    <form role="form" submit.delegate="upload()">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" value.bind="name & validate">
        </div>
        <div class="form-group">
            <label for="uniqueName">Nombre unico:</label>
            <input type="text" class="form-control" value.bind="uniqueName & validate">
        </div>
        <div class="form-group">
            <label for="description">Descripcion:</label>
            <textarea class="form-control" name="description" cols="100" rows="5" value.bind="description"></textarea>
        </div>
        <div class="form-group">
            <label for="height">Alto:</label>
            <input type="number" class="form-control" value.bind="height & validate">
        </div>
        <div class="form-group">
            <label for="width">Ancho:</label>
            <input type="number" class="form-control" value.bind="width & validate">
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" class="form-control" value.bind="price & validate">
        </div>
        <div class="form-group">
            <label for="imageFile">Imagen:</label>
            <input type="file" class="form-control" files.bind="imageFiles & validate" accept=".jpg,.jpeg,.png">
        </div>
        <div class="form-group">
            <label for="imageUniqueName">Nombre unico de imagen:</label>
            <input type="text" class="form-control" value.bind="imageUniqueName & validate">
        </div>
        <div class="form-group">
            <label for="imageFormatName">Formato de imagen:</label>
            <input type="text" class="form-control" value.bind="imageFormatName & validate" placeholder="ej: jpg">
        </div>
        <div class="form-group">
            <div class="alert alert-warning" repeat.for="error of validationController.errors">
                <!--<strong>${error.title}</strong> ${error.description}-->
                ${error.message}
            </div>
            <div class="alert alert-danger" if.bind="serverError.title">
                <strong>${serverError.title}</strong> ${serverError.description}
            </div>
            <div class="alert alert-success" if.bind="success">
                <strong>Exito!</strong> La imagen se subio correctamente.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" if.bind="!isWorking">Subir</button>
        <button type="submit" class="btn btn-primary disabled" if.bind="isWorking"><i class="fa fa-spinner fa-spin"></i> Subiendo...</button>
    </form>
</template>