<template>
    <require from="../components/frame/frame-list"></require>
    <frame-list></frame-list>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Crear Marco
                </div>
                <div class="panel-body">
                    <require from="../components/frame/frame-upload-form"></require>
                    <frame-upload-form></frame-upload-form>
                </div>
            </div>
        </div>
    </div>
</template>